<a href="/">
    <strong><p>Insert FirstPath Logo</p></strong>
</a>

<form method="GET" action="{% url 'home' %}">
    <input type="text" name="q" placeholder="Search using keywords..." />
</form>

{% if request.user.is_authenticated %}
<em><p>Hi {{request.user}}</p></em>
<a href="{%url 'logout'%}">Logout</a>
{% else %}
<a href="{%url 'login'%}">Login</a>
{% endif %}
<hr> <!--This is going to be a line break thingy -->


<nav class="navbar">
    <div class="navbar-logo">
        <a href="{% url 'home' %}">FirstPath</a>
    </div>
    <ul class="navbar-links">
        <ul><li><a href="{% url 'job-details' %}">Job portal</a></li></ul>
        <ul><li><a href="{% url 'home' %}">advising</a></li></ul>
        <ul><li><a href="{% url 'home' %}"></a>resume</li></ul>
        <ul><li><a href="{% url 'home' %}">Logout</a></li></ul>
    </ul>
</nav>
