{% extends 'base/layout.html'%}

{% block body %}

<main class="about_us">
    <header>
        <h1>About Us</h1>
    </header>
    <p>FirstPath is a career guidance platform designed to help students and fresh graduates navigate the job market with ease. Featuring tools like personalized profiles, project showcases, event calendars, job search capabilities, and group networking, FirstPath empowers users to showcase their skills, connect with like-minded individuals, and confidently take the next steps in their careers.
    </p>
    <div class="about">

        <div class="section">
            <h2>Our Mission</h2>
            <p>We believe in empowering graduates with the tools they need to succeed in the job market.</p>
        </div>
    </div>
</main>
{% endblock %}