{% extends 'base/layout.html'%}

{% block body %}

<main class="about_us">
    <header>
        <h1>About Us</h1>
    </header>
    <h2>Who Are We?</h2>
    <p>FirstPath is a platform that helps you navigate the competitive job market.</p>

    <div class="about">
        <div class="purpose">
            <h2>Our Story</h2>
            <p>Our product, FirstPath, is similar to other apps and websites such as LinkedIn, Indeed, ZipRecruiter, etc. FirstPath is designed to help navigate graduate students (after we discuss potential audience users, we should come back to edit this from saying “graduate students” only) through the competitive job market. </p>
        </div>

        <div class="section">
            <h2>Our Mission</h2>
            <p>We believe in empowering graduates with the tools they need to succeed in the job market.</p>
        </div>
    </div>
</main>
{% endblock %}