{% extends 'main.html' %}

{% block content %}

<h3>First Path Home Page</h3>

<div class="container"> <!-- Main contain start -->
    {% include 'base/major_job.html' %}

    <div> <!-- Rooms start-->
        <h5>{{room_count}} Jobs available</h5>
        <a href="{% url 'create-room' %}">Create Room</a>

        {% include 'base/feed.html' %}

    </div> <!--Rooms end-->
    
    <div>
        {% include 'base/activity_component.html'%}
    </div>
</div> <!-- Main contain end -->


{% endblock content %}
