{% extends 'main.html' %}

{% block content %}
{% load static %}

<div class="projects-section">
    <h2>Student Projects</h2>
    <div class="projects-container">
        <!-- Example project card -->
        <div class="project-card">
            <div class="project-content">
                <h3>Project 1</h3>
                <p>Short description of the project. Highlight its purpose and key features.</p>
                <a href="#" class="project-link">View Details</a>
            </div>
        </div>

        <!-- Add more project cards -->
        <div class="project-card">
            <div class="project-content">
                <h3>Project 2</h3>
                <p>Short description of the project. Highlight its purpose and key features.</p>
                <a href="#" class="project-link">View Details</a>
            </div>
        </div>
    </div>
</div>

<div>
    {% for room in rooms %}
    <div>

        {% if request.user == room.host %}
        <a href="{% url 'update-room' room.id %}">Edit</a>
        <a href="{% url 'delete-room' room.id %}">Delete</a>
        {% endif %}
        <hr>
        <a href="{% url 'user-profile' room.host.id %}">@{{room.host.username}}</a>
        <h5>{{room.id}} - <a href="{% url 'room' room.id%}">{{room.name}}</a></h5>
        <small>{{room.topic.name}}</small>
        <hr>
    </div>

    {% endfor %}
</div>

{% endblock content %}
